<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>과일목록</title>
</head>

<body>
    <h1>과일목록</h1>
    <UL>
        <% for (var i=0; i<fruits.length;i++){%>
            <LI>
                <%=fruits[i] %>
            </LI>
            <%}%>
    </UL>
</body>

</html>