  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      padding: 20px;
      
    }

    h1,
    h2 {
      text-align: center;
    }

    #calendar {
      border: 2px solid;
      height: 200px;

    }


    #calendar_01 th {
      width: 14%;
      background-color: #dbdbdb;
    }

    #calendar_01 td {
      padding: 10px;
      text-align: center;
      border: 1px solid #cccccc;
    }

    #calendar_01 th:first-child,
    #calendar_01 td:first-child {
      color: red
    }

    #calendar_01 th:last-child,
    #calendar_01 td:last-child {
      color: blue
    }
  </style>